@media (min-width: 480px) {
  .portfolio__item {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .portfolio__item {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .portfolio__item {
    width: 22%;
  }
}