$color-primary: #2196F3;
$color-primary-dark: #1976d2;
$color-text: #212121;
$color-background: #ffffff;
$color-footer: #2F303A;
$color-overlay-light: rgba(52, 152, 219, 0.95);

$font-main: 'Roboto', sans-serif;
$transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);